<section class="footer">
    <div class="section">
      <div class="container-start-project">
        <div class="start-project">
          <h2 class="title-start-project">
            ¿Quieres trabajar conmigo?
          </h2>
          <span class="item-start-project" (click)="openDialog()">
            ¡Contáctame!
          </span>
          <app-contact-dialog [(visible)]="displayContactame"></app-contact-dialog>
        </div>
      </div>
    </div>
    <footer class="section-footer">
      <div class="container-info-footer">
        <img
          class="custom-logo"
          src="assets/projects/JT.png"
          alt="logo"/>
        <div class="motivation-text">
        </div>
        </div>
        <div class="copy-right">
          <span class="bold">Hecho con Angular</span>
      </div>
    </footer>
  </section>



