<!--
<svg class="editorial top"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="0 24 150 28 "
     preserveAspectRatio="none">
 <defs>
 <path id="gentle-wave"
 d="M-160 44c30 0
    58-18 88-18s
    58 18 88 18
    58-18 88-18
    58 18 88 18
    v44h-352z" />
  </defs>
  <g class="parallax1">
   <use xlink:href="#gentle-wave" x="50" y="3" fill="#f461c1"/>
  </g>
    <g class="parallax2">
   <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2"/>
    </g>
      <g class="parallax3">
   <use xlink:href="#gentle-wave" x="50" y="9" fill="#3461c1"/>
   </g>
    <g class="parallax4">
   <use xlink:href="#gentle-wave" x="50" y="6" fill="#fff"/>
  </g>
</svg> -->

<!--
<svg class="top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 60" preserveAspectRatio="none">
    <path d="M0,60 V30 Q300,60 600,30 T1200,60 V60 Z" fill="#f2e6df"/>
</svg>
 -->

 <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>

<div class="container-main-view container-about-me">

    <div class="content-view content-about-me">
      <span class="description">
        <br>Soy ingeniera en Sistemas Computacionales, con experiencia inicial en el desarrollo de
        aplicaciones web, especializada en programación front-end y con conocimientos en
        back-end. Me enfoco en crear interfaces visuales atractivas y funcionales, manteniendo
        un compromiso constante con el aprendizaje continuo.
      </span>
    </div>
</div>
<svg class= "bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 60" preserveAspectRatio="none">
    <path d="M0,0 V30 Q300,60 600,30 T1200,30 V0 Z" fill="#f2e6df"/>
</svg>


<div class="card flex" >
    <div class="card-all">
        <div class="card-header">
            <div class="card-title">
                <div class="container-icon">
                <i class="fa-solid fa-paintbrush" style="font-size: 2rem"></i>
            </div>
                <h2 class="card-title">Desarrollo Front-end</h2>
            </div>
        </div>
        <h3 class="titulos">
            Habilidades
        </h3>
        <p class="card-content" >
        El desarrollo frontend es un campo que me entusiasma por su fusión entre creatividad y tecnología. Me encanta la oportunidad de diseñar interfaces atractivas y funcionales que mejoren la experiencia de usuario. Es un proceso que me desafía a pensar de manera innovadora y a buscar constantemente nuevas formas de mejorar y aprender.
        <ul class="skills">
            <li>Angular</li>
            <li>React</li>
            <li>TypeScript</li>
            <li>JavaScript</li>
            <li>HTML</li>
            <li>SCSS/CSS</li>
            <li>Flexbox</li>
            <li>Bootstrap</li>
            <li>Responsive Design</li>
            <li>Git</li>
        </ul>
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="card-all">
        <div class="card-header">
            <div class="card-title">
                <div class="container-icon">
                <i class="fa-solid fa-laptop" style="font-size: 2rem"></i>
            </div>
                <h2 class="card-title">Desarrollo Backend</h2>
            </div>
        </div>
        <h3 class="titulos">
           Habilidades
        </h3>
        <p class="card-content">
            Me gusta el desarrollo backend porque me ofrece la oportunidad de trabajar en la estructura y la lógica de las aplicaciones. Actualmente, estoy explorando tecnologías como Golang para crear sistemas robustos y escalables, y me motiva la posibilidad de diseñar la infraestructura que sustenta las funcionalidades de los sistemas.
            <ul class="skills">
                <li>Golang</li>
                <li>C/C++</li>
                <li>SQL</li>
                <li>Node.js</li>

            </ul>
    </div>
    <p-divider layout="vertical">
    </p-divider>
    <div class="card-all">
        <div class="card-header">
            <div class="card-title">
                <div class="container-icon">
                <i class="fa-solid fa-user " style="font-size: 2rem"></i>
            </div>
                <h2 class="card-title">Calidad humana</h2>
            </div>
        </div>
        <h3 class="titulos">
            Valores
        </h3>
        <p class="card-content">
            Desde mi perspectiva, considero que los valores son esenciales en el entorno laboral porque son la base de nuestras acciones y decisiones.
            <ul class="skills">
                <li>Respetuosa</li>
                <li>Responsable</li>
                <li>Colaborativa</li>
                <li>Comprometida</li>
                <li>Organizada</li>
                <li>Proactiva</li>
                <li>Creativa</li>
                <li>Empática</li>
            </ul>
    </div>
</div>





