

.footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #f3d0cb;
    padding: 1rem 1.5rem 4rem;
    color: #fff;
  }

  .section {
    padding: 5rem 1.5rem;
  }


  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: auto;
    margin-top: 2rem;
  }

  .title {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin-bottom: 3rem;
    text-align: center;
  }


  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .container-start-project {
    display: flex;
    padding: 3.5rem 1.25rem;
    margin: 0 auto;
    margin-top: -9rem;
    background-color: white;    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
    border-radius: 12px;
    color: black;
    max-width: 100%;
    padding: auto;
  }

  .start-project,
  .container-info-footer {
    width: 100%;
    display: flex;
    align-items: center;
  ;
  }

  .custom-logo {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
  }



  .pInputTextContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0.75rem;
    box-sizing: border-box;
  }

  .container-info-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .item-start-project {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;

  }

  .title-start-project {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    font-family: "Freeman", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
  }

  .btn-contact {
    font-weight: 400;
    font-size: 18px;
    padding: 0.7em 2rem;
    background-color: #0000;
    border-radius: 9999px;
    border: 2px solid black;
    color: white;
  }

  .is-outlined:hover {
    background-color: black;
    color: black;
    transition: all 0.2s ease-in-out;
  }

  .motivation-text {
    margin-top: 2rem;
    opacity: 0.7;
    max-width: 320px;
    text-align: center;
  }

  .controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
  }

  .item-link {
    cursor: pointer;
    margin: 0 10px;
    padding: 7px 12px;
    border-radius: 50%;
    border: 2px solid #ffffff4d;
    color: white;
  }

  .item-link:hover {
    background-color: white;
    color: white;
  }

  .copy-right {
    margin-top: 0.7rem;
    font-size: 1rem;
    opacity: 0.7;
    text-align: center;
  }

  .small-text {
    font-size: 0.7rem;
  }

  .bold {
    font-weight: bold;
  }

  //phone
  @media print, screen and (max-width: 600px) {
    .container-start-project {
      padding: 1.5rem 1.25rem;
      margin-top: -7rem;
    }
    .start-project {
      flex-direction: column;
      span {
        font-size: 0.9rem;
      }

      button {
        font-size: 1rem;
      }
    }

    .item-start-project {
      margin-bottom: 1rem;
    }
    .title-start-project {
      font-size: 1.3rem;
    }
    .custom-logo {
      height: 100px;
      width: 100ps;
    }
    .section {
      padding: 3.5rem 1.5rem;
    }
    .motivation-text {
      h2 {
        font-size: 1.3rem;
      }
    }
    .item-link {
      margin-bottom: 7px;
    }
  }

  /* //tablet
  @media print,
    screen and (min-width:) and (max-width: 1200px) {
    .title-start-project {
      font-size: 1.5rem;
    }
    .start-project {
      span {
        font-size: 0.9rem;
      }

      button {
        font-size: 1rem;
      }
    }
    .container-start-project {
      padding: 2.5rem 1.25rem;
    }
  }

  //desktop
  @media print, screen and (min-width: $min-screen-desktop) {
  } */


  .container-form {
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0.75rem;
    box-sizing: border-box;
  }
  .container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    padding: 10px 0;
}

.button.btn-contact.is-outlined {
    font-weight: 400;
    font-size: 20px;
    color: black;
    background-color: #FFB996;
    border-radius: 9999px;
    border: 2px solid #FFB996;
    padding: 0.5rem 60px;
    cursor: pointer
}

.button.btn-contact.is-outlined:disabled {
    background-color: white;
    color: #FFB996;
    cursor: not-allowed;
}

.button.btn-contact.is-outlined:hover {
    background-color: white;
    color: #FFB996;

    transition: all 0.3s ease-in-out;
}



  //phone
  @media print, screen and (max-width: 600px) {
    .container-form {
      width: 90%;
    }

  }



.container-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }

  .btn-contact {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    background-color: white;
    color: #f3d0cb;
    border-radius: 9999px;
    border: 2px solid white;
    padding: 0.8rem 80px;
    border: 2px solid #f3d0cb;
  }

  .is-outlined:hover {
    color: white;
    background-color: #f3d0cb;
    transition: all 0.2s ease-in-out;
  }





