<div class="main-container">
    <nav class="custom-nav">
      <ul class="navbar-end">
        <li><a (click)="scroll('inicio')">Inicio</a></li>
        <li><a (click)="scroll('sobre-mi')">Sobre mí</a></li>


        <li><a class="logo"><img src="assets/projects/jurian.png" alt="Logo"></a></li>
        <li><a (click)="scroll('proyectos')">Proyectos</a></li>
        <li><a (click)="abrirDialogo()">Contáctame</a></li>
      </ul>
    </nav>
    <app-contact-dialog [(visible)]="displayContactame"></app-contact-dialog>
</div>
<main>
    <div id="inicioWrapper" style="overflow-y: auto; scroll-behavior: smooth;">
      <div id="inicio">
        <app-header></app-header>
      </div>
    </div>

    <div id="sobre-miWrapper" style="scroll-behavior: smooth;">
      <div id="sobre-mi">
        <app-about-me></app-about-me>
      </div>
    </div>


    <div id="proyectosWrapper" style="overflow-y: auto; scroll-behavior: smooth;">
      <div id="proyectos" >
        <app-projects></app-projects>
      </div>
    </div>

    <app-footer></app-footer>
</main>



