:root {
    --primary-color: #EC0868 !important;
    --highlight-bg: #fcc5ca !important;
  }


  .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: #FFB996 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@import "primeng/resources/themes/saga-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import "~@fortawesome/fontawesome-free/css/all.css";


body {
    font-family: var(--font-family);
}

